

/* My background color */

/* BLACK : #060606 
    White: #f2efea

    new white: e8d3bf 
    e8e1d9
    #e2d5c9
*/


:root {
  --my-background-color : #e8e1d9;
  --my-text-color:  #060606; 
  --my-text-color-white:  #e8e1d9; 
 
}
@font-face {
  font-family: 'Snell Roundhand';
  src: url('../fonts/snell-roundhand/SnellBT-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body{
  font-family: 'Snell Roundhand', cursive;
}

/* photo on top page */
#topImageAboutUs{
	
	width:100%;
  height: Auto;

}




header{
  /* font-family: "Caveat", cursive; */
  font-family: 'Snell Roundhand', cursive;
  font-size: 1.4em;
}

p{
  color: var(--my-text-color);
  font-family: 'Snell Roundhand', cursive;
  /* font-family: "Caveat", cursive; */
}


.navbar-nav {
  margin-left: auto;
}

#navbarIndex{
  background-color: var(--my-background-color);
}


/* Modify the background color */
.navbar-custom {
  /* background-color: #424d52; */
  /* background-color: #484343; */
  background-color: var(--my-background-color);
}

.navbar-custom .navbar-brand {
  /* color: #efe7e7; */
  color: var(--my-text-color);
  padding-left: 0%;
}

.navbar-custom .navbar-text {
  color: var(--my-text-color);
  /* color: #f4e9e9; */
}



#navbarSupportedContent{
  margin-left: 5%;
}


/* Set the border color */

.dropdown-item.active {
  /* background-color: #303032; */
  background-color: #5f5f6b;
}

.nav-item {

  margin-left: 0%;
  padding-right: 0%;
}

.nav-item.dropdown-item.active {

  margin-left: 1%;
  padding-right: 0%;
}

.custom-toggler.navbar-toggler {
  /* border-color: #0e3458; */
  /* border-color: #434546; */
  
  /* color: #505356; */

  border-color: #e49875;
  
  color: #e49875;
}


/* .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239, 231, 231, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */


/* Orange Version */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(228,152,117, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* .nav-item :active {
  color: #1b1919;
}

#navbar-icon{
  color: white;
  margin-top: 2%;
  margin-left: 0%;

} */


.nav-item :active {
  color: #e49875;
}

a:hover {
  color: #e45817;
  /* background-color: #99c627; */
}


li {
  margin-left: 0%;
  margin-right: 0%;
}

a {
  color: #292727;
  
}

svg {
  color: var(--my-text-color);

  /* color:white; */
}

.nav-link {
  color: var(--my-text-color);
  /* color: #f0f0f5; */
  /* margin-left: 5%; */
 
  

}
a.nav-link{
  margin-left: 10px;
  margin-right: 25px;
}

/* #linkedInNavBar {
  padding-left: 0%;
  padding-left: 0%;
} */

#youOnIndexPage{
  color: #e4662b;
}

#welcomeToIndex{
  font-size: 1.9em;
  text-align: center;
  font-family: 'Snell Roundhand', cursive;
  
}


#go4eatLogoAfterWelcome{

  /* font-size: 1.7em; */
  text-align: center;
  /* font-style: italic; */
  padding-bottom: 10%;

}


#secondParagrapthOnIndexPage {
  font-family: 'Snell Roundhand', cursive;
  font-size: 1.9em;
  font-weight: 150; 
  padding-top: 60%; 
  color: var(--my-text-color-white);
  background-image: url(/images/index_page_in_the_middle.jpg);
  padding-bottom: 10%;
  width:100%;
  /* height: Auto; */
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  margin: 0%;
  padding-right: 0%;
  padding-left: 0%;
  

}

#go4eatNutrition{

  padding-top: 10%;
  font-size: 1.7em;
  text-align: center;


}

#go4eatLogoOnlineCoaching{

  font-size: 1.5em;
  text-align: center;

}


#textInTheMiddle {
  /* background-color: #060606; */
  background-color: var(--my-background-color);
  text-align: center;
  padding-left: 0%;
  padding-right: 0%;
}

#textInTheMiddle p {
  font-size: 1.6em;
  color: var(--my-text-color);
  /* color: #ffffff; */
 


}

main {
  /* background-color: #060606; */
  background-color: var(--my-background-color);
  padding-top: 5%;
  padding-left: 0%;
  padding-right: 0%;
}

#photosUnderDescription {
  /* background-color: #ffffff; */
  background-color: var(--my-background-color);
  margin-top: 2%;
}



.navbar {
  /* background-color: #0e1012; */
  /* background-color: #060606; */
  background-color: var(--my-background-color);
}

/* #photoAndButtonAutomationsAndRobotics {
  text-align: center;
} */

/* #photoAndButtonMobileRobots {
  text-align: center;
} */

/* #photoAndButtonSoftwareDevelopment {
  text-align: center;
} */

/* img {
  margin-top: 0.1%;
  margin-bottom: 2%;
  transition: all 2s, transform 0.5s, box-shadow 0.5s;
  border-radius: 3%;
}

img:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.01);
}

img:focus {
  box-shadow: 12px 12px 25px rgba(0, 0, 0, 0.7);
  width: 86%;
  transform: none;
} */



/* Button message us and arrow */

#articleMessageUs{

  padding-bottom: 30%;
  /* background-color: #060606; */
  background-color: var(--my-background-color);
}

#sectionMessageUs{
  /* background-color: #060606; */
  background-color: var(--my-background-color);
  text-align: center;
  font-size: 1.5em;
  /* font-family: "Caveat", cursive; */
  font-family: 'Snell Roundhand', cursive;


}



#sectionMessageUs a {
  font-size: 1.5em;
  
 
}

#messageUs{
  padding-left: 1%;
}

#arrowDown{
  padding-top: 3%;
  margin-right: 3%;
  color: #a0cb37;
}
#arrowDown:hover{
  transform: scale(1.1);
}


.btn {
  /* background-color: #2c2e30; */
  /* background-color: #060606; */
  background-color: var(--my-background-color);
  border-color: #ea9752;
  border-width: 0.00em;
  margin-top: 1.2%;
  color: #e4662b;
  border-radius: 0%;
  
}

.btn:hover{
  /* background-color: #060606; */
  background-color: var(--my-background-color);
  color: #e4662b;
}





/* Use this as a standard background color
background-color: #060606;
*/

/* footer {
  padding-top: 0.5%;
  
  background-color: #060606;
  text-align: center;
  font-size: 1em;
  padding-bottom: 0.1%;
}


footer a, footer p {
  color: #1f1e1e;
}

footer a:hover{
  color: #1f1e1e;
} */


footer {
  padding-top: 25.5%;
  
  background-color: var(--my-background-color);
  text-align: center;
  font-size: 1em;
  padding-bottom: 0.1%;
}

footer a, footer p {
  /* color: #1f1e1e; */
  color: #1f1e1e;
}

footer a:hover{
  color: #1f1e1e;
}


/* #linkedInFooter {
  margin-left: 2%;
  margin-right: 2%;
} */

.bi {
  margin-top: 1%;
}
h1 {
  font-size: 1.6em;
  color: var(--my-text-color);
  /* color: #ffffff; */
  padding-bottom: 0.5%;
}

/* 
.smartluggageFrame {
  width: 10px;
  height: 10px;
} */



/* Material icons */


/* .material-icons { 
  padding: 0px; 
  font-size: 30px; 
  width: 50px; 
  text-decoration: none; 
  margin: 2px 0px; 
}  */


/* .facebook { 
  background: white; 
  color: grey; 
}  */


/* .bi bi-facebook{
  color: wheat;
} */

/* span{
  font-size: 1.8em;
} */

.default {
  color: #060606;
  font-family: 'Snell Roundhand', cursive;
  font-size: 2.1em;
}


#paragraphGo4Eat span{
  font-family: 'Snell Roundhand', cursive;
  font-size: 2.1em;
}


/* Changing color in the letter to orange */
.highlight {
  color: #e45817;
  font-family: 'Snell Roundhand', cursive;
  font-size: 2.1em;
}


