


/* My background color */

/* BLACK : #060606 
    White: #f2efea

    new white: e8d3bf 
    e8e1d9
    #e2d5c9
*/


:root {
  --my-background-color : #e8e1d9;
  --my-text-color:  #060606; 
  --my-text-color-white:  #e8e1d9; 
 
}
@font-face {
  font-family: 'Snell Roundhand';
  src: url('../fonts/snell-roundhand/SnellBT-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



body{
  /* font-family: 'Snell Roundhand', cursive; */
  font-family: "Lato", sans-serif;
  font-style: italic;
}


header{
  /* font-family: "Caveat", cursive; */
  /* font-family: 'Snell Roundhand', cursive; */
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 1.4em;
}



/* photo on top page */
#topImageOffer{
	
	width:100%;
  height: Auto;

}

p{
  color: var(--my-text-color);
  /* font-family: 'Snell Roundhand', cursive; */
  font-family: "Lato", sans-serif;
  font-style: italic;
  /* font-family: "Caveat", cursive; */
}




.navbar-nav {
  margin-left: auto;
}

#navbarIndex{
  background-color: var(--my-background-color);
}


/* Modify the background color */
.navbar-custom {
  /* background-color: #424d52; */
  /* background-color: #484343; */
  background-color: var(--my-background-color);
}

.navbar-custom .navbar-brand {
  /* color: #efe7e7; */
  color: var(--my-text-color);
  padding-left: 0%;
}

.navbar-custom .navbar-text {
  color: var(--my-text-color);
  /* color: #f4e9e9; */
}



#navbarSupportedContent{
  margin-left: 5%;
}


/* Set the border color */

.dropdown-item.active {
  /* background-color: #303032; */
  background-color: #5f5f6b;

}

.nav-item {

  margin-left: 0%;
  padding-right: 0%;
}

.nav-item.dropdown-item.active {

  margin-left: 1%;
  padding-right: 0%;
}

.custom-toggler.navbar-toggler {
  /* border-color: #0e3458; */
  /* border-color: #434546; */
  
  /* color: #505356; */

  border-color: #e49875;
  
  color: #e49875;
}


/* .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239, 231, 231, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */


/* Orange Version */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(228,152,117, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* .nav-item :active {
  color: #1b1919;
}

#navbar-icon{
  color: white;
  margin-top: 2%;
  margin-left: 0%;

} */


.nav-item :active {
  color: #e49875;
}

a:hover {
  color: #e45817;
  /* background-color: #99c627; */
}


li {
  margin-left: 0%;
  margin-right: 0%;
}

a {
  color: #292727;
}

svg {
  color: var(--my-text-color);

  /* color:white; */
}

.nav-link {
  color: var(--my-text-color);
  /* color: #f0f0f5; */
  /* margin-left: 5%; */
  

}

a.nav-link{
  margin-left: 10px;
  margin-right: 25px;
}

/* #linkedInNavBar {
  padding-left: 0%;
  padding-left: 0%;
} */



/* After Navbar */




#textInTheMiddle {
  /* background-color: #060606; */
  background-color: var(--my-background-color);
  /* color: azure; */
  color: var(--my-text-color);
}

#textInTheMiddle p {
  font-size: 1.3em;
  /* color: #ffffff; */
  color: var(--my-text-color);
}

main {
  /* background-color: #060606; */
  background-color: var(--my-background-color);
  padding-top: 5%;
  padding-bottom: 50%;
}

/* #photosUnderDescription {
  background-color: #ffffff;
  margin-top: 2%;
} */

.btn {
  /* background-color: #2c2e30; */
  /* background-color: #060606; */
  background-color: var(--my-background-color);
  border-color: #656060;
  margin-top: 1.2%;
}

.navbar {
  /* background-color: #0e1012; */
  /* background-color: #060606; */
  background-color: var(--my-background-color);
}

/* 
img {
  margin-top: 0.1%;
  margin-bottom: 2%;
  transition: all 2s, transform 0.5s, box-shadow 0.5s;
  border-radius: 3%;
} */

/* img:hover {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.01);
} */

img:focus {
  box-shadow: 12px 12px 25px rgba(0, 0, 0, 0.7);
  width: 86%;
  transform: none;
}


#text_after_press_button_in_collapse p{
  /* color: #efe7e7; */
  color: var(--my-text-color);
}

a {
  /* color: azure; */
  color: var(--my-text-color);
}



/* offers */




#panelFreeConsultation{
  padding-bottom: 3%;

}

a:hover {
  text-decoration: none;
  
  
}

#panelPtSession{
  padding-bottom: 3%;
}



#panelDietCoaching{
  padding-bottom: 3%;
}


#ppanelDietTrainingCoaching{
  padding-bottom: 3%;
}




h1 {

  font-size: 2.0em;
  margin-left: 42%;
  /* font-family: 'Snell Roundhand', cursive; */
  font-family: "Lato", sans-serif;
  font-style: italic;
  /* font-family: "Caveat", cursive; */
  /* color: azure; */
  color: var(--my-text-color);
  padding-bottom: 10%;
}

.panel-title p{
  /* font-family: 'Snell Roundhand', cursive; */
  font-family: "Lato", sans-serif;
  font-style: italic;
  text-align:left;
  padding-left: 13%;
}

#panelBodyFreeConsultation {
  padding-top: 4%;
  margin-left: 15%;
  /* background-color: #060606; */
  background-color: var(--my-background-color);
  text-align: left;

  padding-bottom: 4%;

}

#panelBodyFreeConsultation p {
  font-size: 1.4em;
  /* color: #ffffff; */
  color: var(--my-text-color);
 
}


#panelBodyPtSesion{
  padding-top: 4%;
  margin-left: 16%;
  /* background-color: #060606; */
  background-color: var(--my-background-color);
  text-align: left;
  padding-bottom: 4%;
}

#panelBodyPtSesion p {
  font-size: 1.4em;
  /* color: #ffffff; */
  color: var(--my-text-color);
 
}


#panelBodyDietCoaching{
  padding-top: 4%;
  margin-left: 20%;
  /* background-color: #060606; */
  background-color: var(--my-background-color);
  text-align: left;
  padding-bottom: 4%;
}

#panelBodyDietCoaching p {
  font-size: 1.4em;
  /* color: #ffffff; */
  color: var(--my-text-color);
 
}


#panelBodyDietTrainingCoaching{
  padding-top: 4%;
  margin-left: 18%;
  /* background-color: #060606; */
  background-color: var(--my-background-color);
  text-align: left;
  padding-bottom: 4%;
}

#panelBodyDietTrainingCoaching p {
  font-size: 1.4em;
  /* color: #ffffff; */
  color: var(--my-text-color);
 
}


#panelHeadingFreeConsultation{

  font-size: 1.0em;
  margin-left: 0%;
  /* font-style:normal; */
  text-align: left;
  /* color: azure; */
  color: var(--my-text-color);
  padding-bottom: 8%;
}

#panelHeadingPtSession{
  font-size: 1.0em;
  margin-left: 0%;
  text-align: left;
  /* color: azure; */
  color: var(--my-text-color);
  padding-bottom: 3%;
}

#panelHeadingDietCoaching{

  font-size: 1.0em;
  margin-left: 0%;
  /* font-style:normal; */
  text-align: left;
  /* color: azure; */
  color: var(--my-text-color);
  padding-bottom: 3%;
}

#panelHeadingDietTrainingCoaching{

  font-size: 1.0em;
  margin-left: 0%;
  /* font-style:normal; */
  text-align: left;
  /* color: azure; */
  color: var(--my-text-color);
  padding-bottom: 3%;
}

#panelHeadingDietTrainingCoaching span{
  font-size: 1.0em;

}

/* After Offers */

footer {
  padding-top: 23%;
  
  background-color: var(--my-background-color);
  text-align: center;
  font-size: 0.9em;
  padding-bottom: 0.1%;
}

footer a, footer p {
  /* color: #1f1e1e; */
  color: var(--my-text-color);
  text-align: center;
}

footer a:hover{
  /* color: #1f1e1e; */
  color: var(--my-text-color);
}



.icon {
  width: 1.1em;
  height: 1.1em;
  vertical-align: -0.125em;
}



#spanFreeConsultation {
  padding-left: 10%;
}

#spanPtSession{
  padding-left: 13%;
}

#spanDietPlan{
  padding-left: 8%;
}

#spanFullPackage{
  padding-left: 6%;
}